{% extends 'base.html' %}
{% load static %}

{% block head %}
     <link rel="stylesheet" href="{% static 'stile.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
{% endblock %}

{% block title %} {{view.title}} {% endblock  %}

{% load crispy_forms_tags %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

{% block header1 %}
    <h1> {{view.title}}</h1>
<a class="btn" href="{% url "home" %}" role="button">Home</a>
{% for message in messages %}
        <p style="text-align:center;">{{message}}</p>
    {% endfor %}
{% endblock  %}

{% block content %}
    <nav class="menu">
<ul>
     <li class="menu-list"><a href= "{% url 'gestione:inseriscifilm' %}" role="banner">Aggiungi film</a></li> |
          <li class="menu-list"><a href= "{% url 'gestione:creagiorno' %}" role="banner">Aggiungi Data Spettacolo</a></li>
</ul>
        </nav>
    <br>
    <div class="d-flex justify-content-center">
        {% crispy form %}
    <br>
    </div>


    <br>
{% endblock  %}