{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'stile01.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
{% endblock %}
{% block header1 %}
    <div>
    <center>
        <h1>Catalogo del Cinema</h1>
    <p>Catalogo del nostro cinema </p>
        {%  if user.is_authenticated  %}
    <a class="btn" href="{% url "home" %}" role="button">Home</a><br>
        {% else %}
         <a class="btn" href="{% url "home" %}" role="button">Home</a>
        <a class="btn"  href="{%  url 'login' %}" role="button">Login</a>
    {% endif %}
    </center>
        <a><b><font color="#d2691e">Trova il tuo spettacolo con un click:</font></b></a>
     <select name=”film” size=”1″  onchange="Controlla(this.value)">
    <option disabled selected="selected">Cerca film</option>
    {% for l in listafilm %}
        {%  if l.id in listaspettacoli %}
            <option value={{ l.id }}>{{ l.titolo }}</option>
        {% endif %}
    {% endfor %}
     </select>
     {% for message in messages %}
        <p style="text-align:center;">{{message}}</p>
    {% endfor %}
    </div>
    <br>
{% endblock  %}

{% block content %}
        {%  if user.is_authenticated  %}
    <ul>
   <div1 style="float: left" >


    {%  if cons_genere %}
    <h5 align="left"><font color="#d2691e"> Film consigliati per genere:</font></h5>
{% for f in cons_genere %}

<a href="http://127.0.0.1:8000/gestione/homesala/{{ f.id }}"><img src='{{ f.immagine.url }}'  height="120" width="100" class="imageborder"/></a>

{% endfor %}
<hr color="black" align=”left” size=”1″ width=”300″  noshade>
{% endif %}



{% if  cons_regista %}
    <h5 align="left"><font color="#d2691e">Film consigliati per regista:</font></h5>
{% for f in cons_regista %}
<a href="http://127.0.0.1:8000/gestione/homesala/{{ f.id }}"><img src='{{ f.immagine.url }}'  height="120" width="100" class="imageborder"/></a>
{% endfor %}
                                       <hr color="black" align=”left” size=”1″ width=”300″  noshade>
{% endif %}


{%  if cons_attore  %}
<h5 align="left"><font color="#d2691e">Film consigliati per attore principale:</font></h5>
{% for f in cons_attore %}
<a href="http://127.0.0.1:8000/gestione/homesala/{{ f.id }}"><img src='{{ f.immagine.url }}'  height="120" width="100" class="imageborder"/></a>
{% endfor %}
                 <hr color="black" align=”left” size=”1″ width=”300″  noshade>
{% endif %}
                <br>
    </div1>
    </ul>
    {% endif %}
{% endblock %}

{% block content1 %}
   <p align='justify'>

    {% for l in listafilm %}

        <ul>
        <div1 style="float: left" >

        <img src='{{ l.immagine.url }}' align='left' height="220" width="200" class="imageborder" /><br>
            <h3><font color="#d2691e"> {{ l }} </font><br></h3>
            <a>Regista: {{ l.regista }}<br></a>
            <a>Durata: {{ l.durata }}<br></a>
            <a>Attore: {{ l.attore }}<br></a>
            <a>Categoria: {{ l.categoria }}<br></a>
            <a>Valutazione: {{ l.media_valutazione }}<br></a>
            <a>Trama: {{ l.sinossi }}<br><br></a>
            {%  if user.is_authenticated and l.id in listaspettacoli %}

                             <a class="button-62"  href="http://127.0.0.1:8000/gestione/homesala/{{ l.id }}" role="button">Prenotazione</a><br>
                             <hr color="black" align=”left” size=”1″ width=”300″  noshade>
            {% else %}
                            <a class="button-62"  onclick="motiva()" role="button">Film non disponibile</a><br>
                             <hr color="black" align=”left” size=”1″ width=”300″  noshade>
            {% endif %}
        </ul>
        </div1>
    {% endfor %}
    </body>
        <script>
        function motiva(){
            alert("non Loggato o film ancora non presente in sala")
        }
        function Controlla(film) {
                window.location.replace("http://127.0.0.1:8000/gestione/homesala/"+film)
        }
        </script>
{% endblock %}
