{% extends 'base.html' %}


{% block title %} Sale Attive {% endblock %}

{% block header1 %}
  <h1>Sala Attive </h1>
  <p>
    {% if user.is_authenticated %}
     <h6> sei autenticato con: {{ user.username }} </6>
    {% else %}
    Utente non registrato
    {% endif %}
  </p>
    <a class="btn" href="{% url "home" %}" role="button">Home</a>
{% endblock %}

{% block content %}

<br>

{% for s in listasale %}
<br>
<div class="card">
  <div class="card-body">
      <img src='{{ s.s_immagine.url }}' align='left' height="220" width="200" class="imageborder"/><br>
      <h5 class="card-title"><font color="#d2691e">{{ s.tipo}}</font></h5>

      <a>Numero posti: {{ s.posti }}<br></a>
      <a>Film in sala: {{ s.film }}<br></a>
      <a>Giorno spettacolo: {{ s.giorno }}<br></a>
      <a>Film in sala: {{ s.film }}<br></a>
<a class="button-62" onclick="Cancella({{ s.id }})" href="http://127.0.0.1:8000/gestione/rimuovi/{{ s.id }}" role="button">Cancella</a><br>
                             <br><hr color="black" align=”left” size=”1″ width=”300″  noshade>
  </div>
</div>
<br>
{%endfor%}

<br>
    <script>
 function Cancella(n) {
     alert("cancellazzione Spettacolo "+ n)
 }
</script>
{% endblock %}