{% extends 'base.html' %}


{% block title %} Prenotazioni di {{user.username}} {% endblock %}

{% block header1 %}
  <h1>Prenotazioni di {{user.username}} </h1>
  <p>Modifica Prenotazioni
    {% if user.is_authenticated %}
     {{ user.username }}
    {% else %}
    Utente non registrato
    {% endif %}
  </p>
    <a class="btn" href="{% url "home" %}" role="button">Home</a>
{% endblock %}

{% block content %} 

<br>

{% for c in listafilm %} 
<br>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ c.sala.film.titolo }}</h5><br>
    <img class="imageborder" src='{{ c.sala.film.immagine.url }}' align='left' height="220" width="200"/><br>
    <a> {{ l }}<br></a>
    <a>Regista: {{ c.sala.film.regista }}<br></a>
    <a>Durata: {{ c.sala.film.durata }}<br></a>
    <a>Attore: {{ c.sala.film.attore }}<br></a>
    <a>Categoria: {{ c.sala.film.categoria }}<br></a>
    <a>Trama: {{ c.sala.film.sinossi }}<br></a>
    <a>Numero prenotazione: {{ c.id }}</a><br>
<a class="button-62" onclick="Cancella({{ c.id }})" href="http://127.0.0.1:8000/gestione/modifica/{{ c.id }}" role="button">Cancella</a><br>
                             <hr color="black" align=”left” size=”1″ width=”300″  noshade>
  </div>
</div>
<br>
{%endfor%}

<br>
<script>
 function Cancella(n) {
     alert("cancellazzione prenotazione "+ n)
 }
</script>
{% endblock %}
