body {
  background-image: url(imgs/star-wars.jpg);
  background-size: 100%;
  opacity: 90%;
}
img{border: 1px solid #000;}
.imageborder { border: 5px solid #000000; }
div{
  background: wheat ;
}
nav{
    background: whitesmoke ;
  position: relative;
  width: 80%;
}
a{text-decoration: none;
color: inherit;
}

li.menu-list {
    display: inline;
    text-transform: capitalize;
    font-family: Times New Roman;
    margin: 0px 30px 0px 30px;
    border-bottom: 0px solid #ffca28;
}

.button-62 {
  background: linear-gradient(to bottom right, #DAA520, #FFC125);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

