{% extends 'base.html' %}
{% block content %}

<h1 align="center">Aggiungi prodotto</h1>
<p align="center"> si prega di compilare tutti i campi</p><br>
<div class="Prodotto-aggiunto">
    <form method="POST" action="" enctype = multipart/form-data>
        {{ form.hidden_tag() }}
        <fieldset>
            <div class="form-group">
                {{ form.nome.label(class="form-control-label") }}
                {% if form.nome.errors %}
                    {{form.nome(class="form-control form-control-lg is-invalid")}}
                    {% for error in form.nome.errors  %}
                        <span> {{error}}</span>
                    {% endfor %}
                    {% else %}

                    {{ form.nome(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.immagine.label(class="form-control-label") }}
                {% if form.immagine.errors %}
                    {{form.immagine(class="form-control form-control-lg is-invalid")}}
                    {% for error in form.immagine.errors  %}
                        <span> {{error}}</span>
                    {% endfor %}
                    {% else %}
                    {{ form.immagine(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.prezzo.label(class="form-control-label") }}
                {% if form.prezzo.errors %}
                    {{form.prezzo(class="form-control form-control-lg is-invalid")}}
                    {% for error in form.prezzo.errors  %}
                        <span> {{error}}</span>
                    {% endfor %}
                    {% else %}
                    {{ form.prezzo(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.categoria.label(class="form-control-label") }}
                {% if form.categoria.errors %}
                    {{form.categoria(class="form-control form-control-lg is-invalid")}}
                    {% for error in form.categoria.errors  %}
                        <span> {{error}}</span>
                    {% endfor %}
                    {% else %}
                    {{ form.categoria(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.qta_disponibile.label(class="form-control-label") }}
                {% if form.qta_disponibile.errors %}
                    {{form.qta_disponibile(class="form-control form-control-lg is-invalid")}}
                    {% for error in form.qta_disponibile.errors  %}
                        <span> {{error}}</span>
                    {% endfor %}
                    {% else %}
                    {{ form.qta_disponibile(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.media_valutazione.label(class="form-control-label") }}
                {% if form.media_valutazione.errors %}
                    {{form.media_valutazione(class="form-control form-control-lg is-invalid")}}
                    {% for error in form.media_valutazione.errors  %}
                        <span> {{error}}</span>
                    {% endfor %}
                    {% else %}
                    {{ form.media_valutazione(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.descrizione.label(class="form-control-label") }}
                {% if form.descrizione.errors %}
                    {{form.descrizione(class="form-control form-control-lg is-invalid")}}
                    {% for error in form.descrizione.errors  %}
                        <span> {{error}}</span>
                    {% endfor %}
                    {% else %}
                    {{ form.descrizione(class="form-control form-control-lg") }}
                {% endif %}
            </div>

        </fieldset>
        <div class="form-group">
            {{form.submit(class='btn2')}}
        </div>

    </form>
</div>
<br><br>


{% endblock content %}