{% extends 'base.html' %}
{% block content %}
    <h1 align="center">Pagina di Registrazione</h1>
    <p align="center"> si prega di compilare tutti i campi</p><br>
    <div class="Registrazione">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                        {{form.username(class="form-control form-control-lg is-invalid")}}
                        {% for error in form.username.errors  %}
                            <span> {{error}}</span>
                        {% endfor %}
                        {% else %}

                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <h6>Required. 50 characters or fewer. Letters, digits and @/./+/-/_ only.</h6>

                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{form.email(class="form-control form-control-lg is-invalid")}}
                        {% for error in form.email.errors  %}
                            <span> {{error}}</span>
                        {% endfor %}
                        {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                        {{form.name(class="form-control form-control-lg is-invalid")}}
                        {% for error in form.name.errors  %}
                            <span> {{error}}</span>
                        {% endfor %}
                        {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.surname.label(class="form-control-label") }}
                    {% if form.surname.errors %}
                        {{form.surname(class="form-control form-control-lg is-invalid")}}
                        {% for error in form.surname.errors  %}
                            <span> {{error}}</span>
                        {% endfor %}
                        {% else %}
                        {{ form.surname(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{form.password(class="form-control form-control-lg is-invalid")}}
                        {% for error in form.password.errors  %}
                            <span> {{error}}</span>
                        {% endfor %}
                        {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <h6>Your password must contain at least 6 characters.</h6><br/>

                <div class="form-group">
                    {{ form.password_confirm.label(class="form-control-label") }}
                    {% if form.password_confirm.errors %}
                        {{form.password_confirm(class="form-control form-control-lg is-invalid")}}
                        {% for error in form.password_confirm.errors  %}
                            <span> {{error}}</span>
                        {% endfor %}
                        {% else %}
                        {{ form.password_confirm(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <h6>Enter the same password as before, for verification.</h6>
            </fieldset>
            <div class="form-group">
                {{form.submit(class='btn2')}}
            </div>

        </form>
    </div>
<br><br>
{% endblock content %}