{% extends 'base.html' %}

{% block content %}
<h1 align="center"> Lista dei prodotti</h1>
{% for c in listap %}
    <div class="prodotti" align="center">
        <img src="http://127.0.0.1:5000/static/imgs/{{c.immagine}}"/><br><br>
        <div class="name">
            {{ c }}<br>
        </div>
        Prezzo: {{ c.prezzo }}<br>
        {{ c.categoria }}<br>
        Pezzi disponibili: {{ c.qta_disponibile }}<br>
        Stelle: {{ c.media_valutazione }}<br>
        Descrizione: {{ c.descrizione }}<br>
        {% if current_user.is_authenticated %}
            {% if c.qta_disponibile == 0 %} 
                <a class="btn1"  role="button">prodotto finito</a>   
            {% else %}
                <button class="btn1" onclick="Carrello({{ c.id_prodotto }})">
                    Aggiungi al carello
                </button>
            {% endif %}  
        {% else %} 
            <a class="btn1"  role="button">Utente non loggato</a>
        {% endif %}
    </div> 
    <br><br>         
{% endfor %}
{% if current_user.is_authenticated  %}
{% else %}
    <center>  
        <a href="{{url_for('login')}}" class="btn1">Accedi</a><a href="{{url_for('registrati')}}" class="btn1">Registrati</a>
    </center>   
{% endif %}   

</div>
</div>
<script>
    function Carrello(prodotto){
        {% for v in listap %}
            if ({{ v.id_prodotto }} == prodotto){
                window.location.replace('http://127.0.0.1:5000/carrello/{{v.id_prodotto}}');
            }
        {% endfor %}
        }
</script>
{% endblock content %}