{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" aria-label="Close"></button>
	</div>	
{% endfor %}


<h2 align="left">Pagina di Login</h2>
<flash align="left">Si prega di compilare tutti i campi</flash>
<div class="Login">
    <form method="POST">
        {{ form.hidden_tag() }}
        <fieldset>
            <br>
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {% if form.username.errors %}
                    {{form.username(class="form-control form-control-lg is-invalid")}}
                    {% for error in form.username.errors  %}
                        <span> {{error}}</span>
                    {% endfor %}
                    {% else %}

                    {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                    {{form.password(class="form-control form-control-lg is-invalid")}}
                    {% for error in form.password.errors  %}
                        <span> {{error}}</span>
                    {% endfor %}
                    {% else %}
                    {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{form.submit(class='btn2')}}
        </div>
    </form>
</div>
<br><br>

{% endblock content %}