{% extends 'base.html' %}
{% block content %}
    <h1 align="center">Carrello</h2>
        {% for c in carrello %}
        
            <div class="prodotti" align="center">
                <img src="http://127.0.0.1:5000/static/imgs/{{ c.prodotto.immagine }}"/><br>
                <div class="name">
                    {{ c.prodotto }}<br>
                </div>
                Prezzo: {{ c.prodotto.prezzo }} euro al pezzo<br>
                
                Quantità richiesta: {{ c.qta_richiesta }}<br>
                <button class="btn1" onclick="Modifica({{c.id_carrello}})">Modifica ordine</button>
                <button class="btn1" onclick="Cancella({{c.id_carrello}})">Cancella ordine</button>
            </div>

            <br><br> 
              
        {% endfor %}  
        <center>
            <h3> costo totale {{ costo }} euro</h3>
            <button class="btn1" onclick="Acquisto()">
                Acquista
            </button>
        </center>    
        <script>
            function Acquisto(){
                window.location.replace('http://127.0.0.1:5000/acquisto/');
                }
        </script>

        <script>
            function Modifica(prodotto){
                {% for v in car %}
                     if ({{v.id_carrello}} == prodotto){
                        window.location.replace('http://127.0.0.1:5000/modifica/{{v.id_carrello}}');
                    }
                {% endfor %}
            }
        </script>

        <script>
            function Cancella(prodotto){
                {% for v in car %}
                     if ({{v.id_carrello}} == prodotto){
                        window.location.replace('http://127.0.0.1:5000/cancella/{{v.id_carrello}}');
                    }
                {% endfor %}
            }
        </script>
{% endblock content %}