{% extends 'base.html' %}
{% block content %}
    <h1 align="center"> Storico degli acquisti</h1><br>
    {% for c in ac_user %}
    <div class="prodotti" align="center">
        <img src="http://127.0.0.1:5000/static/imgs/{{ c.prodotto.immagine }}"/><br>
        <div class="name">
            {{ c.prodotto }}<br>
        </div>
        Tipo: {{ c.prodotto.descrizione }}<br>
        Quantità acquistata: {{ c.qta }}<br>
        In data: {{ c.data }}<br>
        <button class="btn1" onclick="Recensione({{c.prodotto_id}})">
            Fai una recensione
        </button>
    </div> 
        <br><br>         
    {% endfor %}
    <script>
        function Recensione(prodotto){
            {% for s in ac_user %}
                if ({{ s.prodotto_id }} == prodotto){
                    window.location.replace("http://127.0.0.1:5000/valutazione/{{ s.prodotto_id }}")
                }
            {% endfor %}
        }
    </script>
{% endblock content %}