*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    font-family: 'Abyssinica SIL', serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
    font-size: 18px;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: rgb(5, 5, 5);
}
p{
    color: rgb(10, 10, 10);
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.header{
    background: radial-gradient(#fff,#8cff40);
}
.header .row{
    margin-top: 70px;
}

.prodotti{
    width: 500px;
    border: 10px solid rgb(192, 189, 3);
    padding: 15px;
    margin: auto;
    text-align: center;
    font-size: 20px;
}
.name{
    font-size: 25px;
    font-weight: bold;
}
.prodotti img{
    max-width: 100%;
    border-radius: 5px;
    border: 3px solid rgb(0, 0, 0);
    transition: transform 0.5s;
}
.navbar button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
}

.btn1{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn1:hover{
    background: #563443;
}
.prodotti img:hover{
    transform: translateY(-5px);
}
.btn2{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn2:hover{
    background: #563443;
}

.headerimg img{
    max-width: 100%;
    border-radius: 5px;
    border: 3px solid rgb(0, 0, 0);
}
.header p{
    color: black;
    margin-top: 10px;
    font-size: 19px;
}
.logo{
    margin-top: -38px;
}
.logo .button img{
    margin-top: 50px;
}



/*----footer----*/
.footer{
    background: rgb(0, 0, 0);
    color: #8a8a8a ;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;

}
.f-col-1, .f-col-2,.f-col-3,.f-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.f-col-1{
    flex-basis: 30%;
}
.f-col-2{
    flex: 1;
}
.f-col-2 img{
     width: 180px;
     margin-bottom: 20px;

}
.f-col-3,.f-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul {
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}

