div{
  background: wheat ;
    width: 100%;
}
div1{
    background: #decebb;
    width: 90%;
}
div2{
    width: 80%;
}
body{
      background-image: url(imgs/Harry-Potter.jpg);
       opacity: 90%;
}
.btn1{
    display:inline-block;
    padding:0.7em 1.4em;
    margin:0 0.3em 0.3em 0;
    border:none;
    border-radius:0.5em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'arial';
    text-transform:uppercase;
    font-weight:200;
    color:#FFFFFF;
    background-color:#483D8B;
    box-shadow:inset 0 -0.6em 0 -0.3em rgba(0,0,0,0.20);
    text-align:center;
    position:relative;
    cursor:pointer;
  }
  .btn1:hover{
    background:#483D8B;
  }
  .btn1:active{
    background:#483D8B;
    top:0.15em;
    color:#D9D9D9;
    box-shadow:none;
  }
  h5{
      color: indigo;
  }
.button-62 {
  background: linear-gradient(to bottom right, #DAA520, #FFC125);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

img{border: 1px solid #000;}
.imageborder { border: 5px solid #000; }

h1 {
      background-color:   whitesmoke;
      color: #B4886B;
      font-weight: bold;
      display: block;
      opacity: 80%;
      }
    h2 {
              background-color:   whitesmoke;
              color: #B4886B;
              font-weight: bold;
              width: 30%;
              opacity: 80%;
              }
      h5 {
          background-color:   whitesmoke;
          color: #B4886B;
          font-weight: bold;
          width: 20%;
          opacity: 80%;
          }
          h6 {
              background-color:   whitesmoke;
              color: #B4886B;
              font-weight: bold;
              width: 10%;
              opacity: 80%;
              }
