{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %} 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 
<link rel="stylesheet" href="{% static 'stile.css' %}">
{% block title %} Creazione Utente {{ form.user_group_name }} {% endblock %} 

{% block header1 %}
  <h1>Pagina di Registrazione</h1>
  <p>Si prega di compilare i campi necessari</p> 
{% endblock %}

{% block content1 %}
<div>
<form method="post"> {% csrf_token %}

  {{form | crispy}}
  
  <input type="submit" class="btn btn-success" value="Registrati ora!">
  
  </form>
</div>
{% endblock %}

{% block footer %} {% endblock %}
