{% extends 'base.html' %}
{% load static %}
{% block head %}
     <link rel="stylesheet" href="{% static 'stile.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script>
    {% for a in listaattesa %}
            {% if user.id == a.user_id and a.sala.posti >= a.posti_richiesti %}
                confirm("si sono liberati dei posti per lo spettacolo {{ a.sala.film.titolo }}")
            {% endif %}
    {% endfor %}
</script>
    {% endblock %}
{% block title %}  Home del Cinema {% endblock %}

{% block header1 %}
    <h1>Home del Cinema</h1>
    <p>Homepage del nostro cinema </p>
    {%  if user.is_authenticated  %}
    <p>Benvenuto {{ user.username }}</p>
        {% elif user.is_ %}
        <p>Benvenuto guest</p>
    {% endif %}
    {% for message in messages %}
        <p style="text-align:center;">{{message}}</p>
    {% endfor %}
{% endblock  %}

{% block content %}
    <nav class="menu">
{%  if  user.is_staff or staff  %}
    <ul>
     <li class="menu-list"><a  onclick="Check()" href= "{% url 'gestione:storico' %}" role="banner">Storico Prenotazioni</a></li> |
    <li class="menu-list"><a onclick="Check()" href= "{% url 'gestione:vota' %}" role="banner">Vota Spettacolo</a></li> |
        <li class="menu-list"><a onclick="Check()" href= "{% url 'gestione:inseriscisala' %}" role="banner">Aggiungi Spettacolo</a></li> |
            <li class="menu-list"><a onclick="Check()" href= "{% url 'gestione:storicosala' %}" role="banner">Rimuovi Spettacolo</a></li> |
                <li class="menu-list"><a onclick="Check()" href= "{% url 'gestione:storicofilm' %}" role="banner">Rimuovi Film</a></li>


    </ul>
        {% elif user.is_authenticated %}
            <ul>
                <li class="menu-list"><a  onclick="Check()" href= "{% url 'gestione:storico' %}" role="banner">Storico Prenotazioni</a></li> |
                <li class="menu-list"><a onclick="Check()" href= "{% url 'gestione:vota' %}" role="banner">Vota Spettacolo</a></li>
            </ul>
        {% else %}
        <a>Utente non loggato</a>

    {% endif %}
    </nav>
            <a class="btn btn-info" href="{% url 'registrati' %}" role="button">Registrati</a>
            <a class="btn btn-info"  href="{%  url 'login' %}" role="button">Login</a>
            <a class="btn btn-info" href="/gestione/home/" role="button">Catalogo</a>
    {%  if user.is_authenticated  %}
      <a class="btn btn-info" onclick="logout()" href= "{% url 'logout' %}" role="button" >Logout</a>
    {% else %}
        <a class="btn btn-info" onclick="cbCheck()"   disabled="disabled">Logout</a>
    {% endif %}

{% endblock %}

<script type="text/javascript">
    function cbCheck(){
                        alert("accesso non consentito")
    }
</script>