<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load crispy_forms_tags %}  
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <title> Tobi store| Ecommerce Agrario </title>
             <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap" rel="stylesheet"> 
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="{% static "imgs/four-logo.png" %}" width="125px">
                </div>
                <nav>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Product</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Accedi</a></li>
                        <li><a href="{% url 'registrazione' %}">Registrati</a></li>
                        <li><img src={% static "imgs/carrello.png" %} width="30px" height="30px"></li>
                    </ul>
                </nav>
                
            </div>
            <h2> Pagina di Logout</h2>

            <h2>Logout eseguito con successo</h2>
            <h5>Ci vediamo presto!</h5>
        </div>
    </div> 
</div>
    {% endblock body %}
    </body>
</html>

