<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% load crispy_forms_tags %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <head>
    <link rel="stylesheet" href="{% static 'style.css' %}">

            <meta charset="UTF-8">
            <title> Tobi store| Ecommerce Agrario </title>
             <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div class="header">
        <div class="container">
            {% for message in messages %}
            <p style="text-align:center;">{{message}}</p>
            {% endfor %} 
            <div class="navbar">
                <div class="logo">
                    <img src="{% static "imgs/four-logo.png" %}" width="125px">
                </div>
                {% if user.is_authenticated %}
                <nav>
                    <ul>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'prodotti:catalogo' %}">Product</a></li>
                        <li><a href="{% url 'prodotti:storico' %}">Storico</a></li>
                        <li><a href="{% url 'chisiamo' %}">About</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                        {% if user.is_superuser == 1 %}
                        <li><a href="http://127.0.0.1:8000/admin/">Pannello admin</a></li>
                        <li><a href="">Aggiungi Prodotto</a></li>
                        {% endif %}
                    </ul>
                </nav>
                {% else %}
                <nav>
                    <ul>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'prodotti:catalogo' %}">Product</a></li>
                        <li><a href="{% url 'chisiamo' %}">About</a></li>
                        <li><a href="{% url 'login' %}">Accedi</a></li>
                        <li><a href="{% url 'registrazione' %}">Registrati</a></li>
                    </ul>
                </nav>
                {% endif %}
                    <button onclick=Funzione()><img src={% static "imgs/carrello-vuoto.png" %} width="30px" height="30px"></button>
                <script>
                    function Funzione(){
                        window.location.replace('http://127.0.0.1:8000/prodotti/prenotazione/')
                    }
                </script>
            </div>
            <div class="row">
                <div class="col-2">
                    <h1>Tobi Store</h1>
                    {% if user.is_authenticated %}
                        <h3> Benvenuto {{user.username}}</h3>
                    <p>
                        <br>In una terra lontana, dietro le montagne Parole, lontani dalle terre di Vocalia e Consonantia, vivono i testi casuali.<br> Vivono isolati nella cittadina di Lettere, sulle coste del Semantico, un immenso oceano linguistico.<br>
                    </p>
                    {% else %}
                    <h3> Sei autenticato come ospite</h3>
                    <p>
                        <br>In una terra lontana, dietro le montagne Parole, lontani dalle terre di Vocalia e Consonantia, vivono i testi casuali. <br>Vivono isolati nella cittadina di Lettere, sulle coste del Semantico, un immenso oceano linguistico.<br>
                    </p>
                    {% endif %}
                    
                    <a href="{% url 'prodotti:catalogo' %}" class="btn">Vai al catalogo &#8594</a>
                </div>
                <div class="col-2">
                    <img src={% static "imgs/sementi2.png" %}
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="categories">
        <div class="small-container">
            <h2 class="title1"> Categories </h2>
            <div class="row">
                <div class="col-3">
                    <img src={% static "imgs/frutta-verdura.png" %}>
                    <h4>Frutta e verdura</h4>
                </div>
                <div class="col-3">
                    <img src={% static "imgs/fiori.png" %}>
                    <h4>Bulbi da fiore</h4>
                </div>
                <div class="col-3">
                    <img src={% static "imgs/animali.png" %}>
                    <h4>Prodotti per animali</h4>
                </div>
            </div>
        </div>
    </div>

    <!--footer-->
    <div class='footer'>
        <div class="container">
            <div class="row">
                <div class="f-col-1">
                    <h3> Downloads our app</h3>
                    <p>Download le app per android e per ios mobile </p>
                    <div class="app-logo">
                        <img src="{% static "imgs/ps-logo.jpg" %}">
                        <img src="{% static "imgs/as-logo.png" %}">
                    </div>
                </div>
                <div class="f-col-2">
                    <img src="{% static "imgs/four-logo.png" %}">
                    <p>Sempre alla ricerca di nuovi benefits per voi </p>
                   
                </div>
                <div class="f-col-3">
                    <h3> Link utili</h3>
                    <ul>
                        <li><a href="https://vargiuweb.it" style="color:#FFF">Coupons</a></li>
                        <li><a href="https://vargiuweb.it" style="color:#FFF">policy</a></li>
                        <li><a href="https://vargiuweb.it" style="color:#FFF">Join Affiliate</a></li>
                    </ul>
                    
                </div>
                <div class="f-col-4">
                    <h3> Seguici anche </h3>
                    <ul>
                        <li><a href="https://it-it.facebook.com/pagina.diprova.5/" style="color:#FFF">Facebook</a></li>
                        <li><a href="https://twitter.com" style="color:#FFF">Twitter</a></li>
                        <li><a href="https://www.instagram.com/piante.it/" style="color:#FFF">instagram</a></li>
                    </ul>
                </div>
                </div>
                <hr>
                <p class="copyright">Copyright 2022 -  Danilo Bellocchio </p>
        </div>
    </div>
</body>
</html>