<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
         <link rel="stylesheet" href="{% static 'stile.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>


     {% endblock %}
     {% load crispy_forms_tags %}
    </head>

    <title> {% block title %}{% endblock %}</title>
    <div class="jumbotron text-center">
        {% block header1 %}

          <h1>Header</h1>
          <p>Subtitle</p>
            <p>Stato_visitatore</p>
        {% endblock %}
        </div>

{% if user.is_authenticated and "ok" in request.GET.login  %}
<div id="info" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Welcome {{user.username}} </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p> La procedura di login è andata a buon fine </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Chiudi</button>
        </div>
      </div>
    </div>
  </div> 
  <script>
    $(document).ready(function(){
        $("#info").modal('show');});
        function logout(){
            alert("Hai effettuato il logout arrivederci!")
        }
  </script>
  
  
{% endif %}
    <center>
        {% block content1 %}
            <a></a>
        {% endblock %}
        {% block content %}

        {% endblock %}
    </center>
</html>
