{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'stile01.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
{% endblock %}
{% block header1 %}
    <div>
    <center>
        <h1>Storico Film Cinema</h1>
    <p>Film presenti al cinema </p>
        {%  if user.is_authenticated  %}
    <a class="btn" href="{% url "home" %}" role="button">Home</a><br>
        {% else %}
         <a class="btn" href="{% url "home" %}" role="button">Home</a>
        <a class="btn"  href="{%  url 'login' %}" role="button">Login</a>
    {% endif %}
    </center>
    </div>
{% endblock  %}


{% block content1 %}
   <p align='justify'>

    {% for l in listafilm %}

        <ul>
        <div1 style="float: left" >

        <img src='{{ l.immagine.url }}' align='left' height="220" width="200" class="imageborder" /><br>
            <h3><font color="#d2691e"> {{ l }} </font><br></h3>
            <a>Regista: {{ l.regista }}<br></a>
            <a>Durata: {{ l.durata }}<br></a>
            <a>Attore: {{ l.attore }}<br></a>
            <a>Categoria: {{ l.categoria }}<br></a>
            <a>Valutazione: {{ l.media_valutazione }}<br></a>
            <a>Trama: {{ l.sinossi }}<br><br></a>


                             <a class="button-62"  onclick="motiva()" href="http://127.0.0.1:8000/gestione/rimuovifilm/{{ l.id }}" role="button">Cancella</a><br>
                             <hr color="black" align=”left” size=”1″ width=”300″  noshade>

        </ul>
        </div1>
    {% endfor %}
    </body>
        <script>
        function motiva(){
            alert("attenzione!! la cancellazione di un film comporta la rimozione delle prenotazioni e delle sale ad esso collegate.")
        }
        </script>
{% endblock %}