{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'stile02.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
{% endblock %}
{% block header1 %}
    <div>
    <center>
        <h1>Lista sale</h1>
    <p>Tutte le sale del nostro cinema </p>
        {%  if user.is_authenticated  %}
    <a class="btn" href="{% url "home" %}" role="button">Home</a>
        {% else %}
         <a class="btn" href="{% url "home" %}" role="button">Home</a>
        <a class="btn"  href="{%  url 'login' %}" role="button">Login</a>
    {% endif %}
    </center>
    </div>
{% endblock  %}

{% block content1 %}
   <p align='justify'>
    {% for l in listasale %}

        <ul>
        <div1 style="float: left" >
           {% if l.film_id == request.resolver_match.kwargs.id %}
            <img src='{{ l.s_immagine.url }}' align='left' height="190" width="170" class="imageborder"/><br>
            <a> {{ l }}<br></a>
            <a>Tipologia sala: {{ l.tipo }}<br></a>
            <a>Posti Disponibili: {{ l.posti }}<br></a>
            <a>Ora e Giorno proiezione: {{ l.giorno }}<br></a>
            <a>Film {{ l.film }}<br></a>
            {%  if user.is_authenticated  %}
                {% if  l.posti == 0 %}
                             <button class="button-62" onclick="Prenota({{ l.id }})" disabled="true">Prenota Spettacolo</button>
                             <button class="button-62" onclick="Attesa({{ l.id }})">Mettiti in Lista</button><br>
                    {% else %}
                                                         <button class="button-62" onclick="Prenota({{ l.id }})">Prenota Spettacolo</button>
                            <br>
                    {% endif %}
                             <hr color="black" align=”left” size=”1″ width=”300″  noshade>
                             
            {% else %}
                            <a class="btn btn-info"  role="button">Utente non loggato</a><br>
                             <hr color="black" align=”left” size=”1″ width=”300″  noshade>
            {% endif %}
        {% endif %}
        </div1>
        </ul>
    {% endfor %}
    </body>
    <script>
    function Prenota(sala){
        {% for c in listasale %}
            if ({{ c.id }} == sala){
            alert("Prenota spettacolo {{ c.giorno }}")
            window.location.replace('http://127.0.0.1:8000/gestione/prenotazione/{{c.id}}');
        }
        {% endfor %}
        }
        function Attesa(sala){
            {% for c in listasale %}
                if ({{ c.id }} == sala){
                alert("Mettiti in Atessa {{ c.giorno }}")
                window.location.replace('http://127.0.0.1:8000/gestione/attesa/{{c.id}}');
            }
            {% endfor %}
            }
    </script>
{% endblock %}