{% extends 'base.html' %}

{% block title %} {{view.title}} {% endblock  %}

{% load crispy_forms_tags %}
{% crispy form form.helper %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 

{% block header1 %}
    <center>
        <h1>Prenota Spettacolo</h1>
    <p>Prenota qui il tuo spettacolo</p>
        {%  if user.is_authenticated  %}
    <a class="btn" href="{% url "home" %}" role="button">Home</a>
        {% else %}
         <a class="btn" href="{% url "home" %}" role="button">Home</a>
        <a class="btn"  href="{%  url 'login' %}" role="button">Login</a>
    {% endif %}
    {% for message in messages %}
        <p style="text-align:center;">{{message}}</p>
    {% endfor %}
    </center>

{% endblock  %}

{% block content %}
    
    <br>
    <div class="d-flex justify-content-center">
    <ul>
        <img src='{{ sala.film.immagine.url }}'  height="280" width="240"/><br>
        <label style="margin-top:20px" type="submit" name="output" value="{{ sala }}">{{ sala }}</label>
       {%  crispy form %}
    </ul>
    </div>
    <br>
    
{% endblock  %}