{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block header1 %}
  <h1>Home di {{user.username}} </h1>
  <p>Recensione Film
  </p>
<a class="btn" href="{% url "home" %}" role="button">Home</a>
{% endblock %}


{% block content %}
<div style="margin:auto;color:white;">
  <form class="well form-horizontal" action=" " method="post" enctype="multipart/form-data" id="contact_form">
    {% csrf_token %}
    {{ form | crispy }}
    <input class="button-62" style="margin-top:20px" type="submit" name="Submit" value="Crea">
  </form>
</div>
</div><!-- /.container -->
{% endblock %}