{% extends 'base.html' %}

{% block title %} Home di {{user.username}} {% endblock %}

{% block header1 %}
  <h1>Home di {{user.username}} </h1>
  <p>Welcome
    {% if user.is_authenticated %}
     {{ user.username }}
    {% else %}
    Utente non registrato
    {% endif %}
  </p>
<a class="btn" href="{% url "home" %}" role="button">Home</a>
{% endblock %}

{% block content %}

<br>

{% for c in listafilm %}
<br>
<div class="card">
  <div class="card-body">
    <h5 class="card-title"><font color="#d2691e">{{ c.film.titolo }}</font></h5>
    <img src='{{ c.film.immagine.url }}' align='left' height="220" width="200" class="imageborder"/><br>
          <a> {{ l }}<br></a>
      <a>Regista: {{ c.film.regista }}<br></a>
    <a>Durata: {{ c.film.durata }}<br></a>
    <a>Attore: {{ c.film.attore }}<br></a>
    <a>Categoria: {{ c.film.categoria }}<br></a>
    <a>Trama: {{ c.film.sinossi }}<br></a>
      <button class="button-62" onclick="Vota({{ c.id }})" >Vota</button>
      <br>
      <hr color="black" align=”left” size=”1″ width=”300″  noshade>
  </div>
</div>
<br>
{%endfor%}

<br>
    <script>
    function Vota(titolo){
        {% for c in listafilm %}
            if ({{ c.id }} == titolo){
            window.location.replace('http://127.0.0.1:8000/gestione/recensione/{{c.film_id}}');
        }
        {% endfor %}
        }
    </script>
{% endblock %}
