{% extends 'base2.html' %}
{% block content %}
<!--body-->
<div class="carrello" align="center">
    <h1 align="center">Aggiungi al carrello</h1>
    <br>
    <div class="prodotti">
        {% for message in messages %}
        <p style="text-align:center;">{{message}}</p>
        {% endfor %}    
        <br>
        <img src="{{ prodotto.immagine.url }}"/><br>
        <div class="name">
            {{ prodotto }}
        </div> 
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn2">Aggiungi al Carrello</button>
    </div>
    <br>
</div>
{% endblock content %}

  