{% extends 'base2.html' %}
{% block content %}
    <h1 align="center"> Storico degli acquisti</h1><br>
    {% for c in storico %}
    <div class="prodotti" align="center">
        <img src="{{ c.prodotti.immagine.url }}"/><br>
        <div class="name">
            {{ c.prodotti }}<br>
        </div>
        Tipo: {{ c.prodotti.descrizione }}<br>
        Quantità acquistata: {{ c.qta }}<br>
        In data: {{ c.data }}<br>
        <button class="btn1" onclick="Recensione({{ c.prodotti_id }})">
            Fai una recensione
        </button>
    </div> 
        <br><br>         
    {% endfor %}
    <script>
        function Recensione(prodotto){
            {% for s in storico %}
                if ({{ s.prodotti_id }} == prodotto){
                    window.location.replace("http://127.0.0.1:8000/prodotti/valutazione/{{ s.prodotti_id }}")
                }
            {% endfor %}
        }
    </script>
{% endblock content %}