{% extends 'base2.html' %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}
{% block content %}
    <div class="center" align="center">
        <h1 align="center">Recensioni Prodotti</h1>
        <br>
            {% for message in messages %}
            <p style="text-align:center;">{{message}}</p>
            {% endfor %} 
            <br>
            <form class="well form-horizontal" action=" " method="post" enctype="multipart/form-data" id="contact_form">
                {% csrf_token %}
                <h3>Il voto deve andare da 1 a 10</h3>
                {{ form.as_p }}
                <button class="btn2">Aggiungi recensione</button>
            </form>
    </div>
{% endblock content %}